In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import os

In [24]:
import os
print(os.getcwd())
#今のカレントディレクトリを表示　これはjupyter notebookを起動したところに依存する

/Users/sekineyuusuke/Github/Kaggle/playground-series-s4e7

In [25]:
df_test = pd.read_csv('test.csv')
df = pd.read_csv('train.csv')

In [26]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11504798 entries, 0 to 11504797
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   Gender                object
 2   Age                   int64
 3   Driving_License       int64
 4   Region_Code           float64
 5   Previously_Insured    int64
 6   Vehicle_Age           object
 7   Vehicle_Damage        object
 8   Annual_Premium        float64
 9   Policy_Sales_Channel  float64
 10  Vintage               int64
 11  Response              int64
dtypes: float64(3), int64(6), object(3)
memory usage: 1.0+ GB

In [28]:
df.shape

(11504798, 12)

In [29]:
df.duplicated().sum()   #重複行の数
df.drop_duplicates(inplace=True)  #重複行を削除 inplace=False（デフォルト）の場合は、新しいデータフレームが返され、元のデータフレームは変更されません。

In [30]:
missing_values = df.isnull().sum()  #欠損値の数
missing_values

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [31]:
import sweetviz as sv   
#EDAツール

In [32]:
report = sv.analyze(df,target_feat='Response')

                                             |                                                                …

In [33]:
report.show_html('report.html')

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

sweetvizの見方について

多分この左端の部分、黒背景に白字になっているのが、目的変数との相関具合。
他のは、説明変数同士の相関具合になる。これはよくチェックした方が良い

# EDAの結果から、自分なりの考えのまとめ
まず、0の方が88％と圧倒的に多い。
この際考え方は２つある。
１、12％しかない、１に共通する人の属性を洗い出す。
2、88％の０に共通する属性を洗い出す。
## 各変数との関係

### 
id はなんの関係もない（知ってた）
Genderは男性がの割合が多いくらいで特に関係ない。