In [129]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import os

In [130]:
import os
print(os.getcwd())
#今のカレントディレクトリを表示　これはjupyter notebookを起動したところに依存する

/Users/sekineyuusuke/Github/Kaggle/playground-series-s4e7

In [131]:
df_test = pd.read_csv('test.csv')
df = pd.read_csv('train.csv')

In [132]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11504798 entries, 0 to 11504797
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   Gender                object
 2   Age                   int64
 3   Driving_License       int64
 4   Region_Code           float64
 5   Previously_Insured    int64
 6   Vehicle_Age           object
 7   Vehicle_Damage        object
 8   Annual_Premium        float64
 9   Policy_Sales_Channel  float64
 10  Vintage               int64
 11  Response              int64
dtypes: float64(3), int64(6), object(3)
memory usage: 1.0+ GB

In [134]:
df.shape

(11504798, 12)

In [135]:
df.duplicated().sum()   #重複行の数
df.drop_duplicates(inplace=True)  #重複行を削除 inplace=False（デフォルト）の場合は、新しいデータフレームが返され、元のデータフレームは変更されません。

In [136]:
missing_values = df.isnull().sum()  #欠損値の数
missing_values

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [137]:
"""
import sweetviz as sv   
#EDAツール
report = sv.analyze(df,target_feat='Response')
report.show_html('report.html') 
"""

"\nimport sweetviz as sv   \n#EDAツール\nreport = sv.analyze(df,target_feat='Response')\nreport.show_html('report.html') \n"

In [138]:
#　まだ、文字列を数値に変更していない。まずはオブジェクト型の列を確認し、ユニークな値を確認する
unique_Gender = df['Gender'].unique()
unique_Vehicle_Age = df['Vehicle_Age'].unique()
unique_Vehicle_Damage = df['Vehicle_Damage'].unique()

unique_Gender

array(['Male', 'Female'], dtype=object)

In [139]:
unique_Vehicle_Age

array(['1-2 Year', '> 2 Years', '< 1 Year'], dtype=object)

In [140]:
unique_Vehicle_Damage

array(['Yes', 'No'], dtype=object)

In [141]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

In [142]:
# これで、オブジェクト型の列がどのようなユニークな値を持っているかどうかがわかりました。これらの値を数値に変換します。
def veh_a(Vehicle_Damage):
  if Vehicle_Damage == 'Yes':
    return 1
  else:
    return 0

In [143]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

In [144]:
df['Vehicle_Damages'] = df['Vehicle_Damage'].apply(veh_a)
df.drop(['Vehicle_Damage'],axis=1)
df.head()
# これでVehicle_Damage列を数値に変更したVehicle_Damagesが作成された

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Vehicle_Damages
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0,1
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0,1
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0,0

`df = pd.get_dummies(df, columns=['Vehicle_Age'])` の部分について詳しく説明します。

このコードは、Pandasの`pd.get_dummies()`関数を使用して、カテゴリー変数（`Vehicle_Age`列）をワンホットエンコーディングするために使用されます。

具体的には以下のことが行われます：

1. **ワンホットエンコーディングの実行**:
   - `pd.get_dummies()`関数は、指定されたデータフレーム（ここでは`df`）の特定の列（`columns=['Vehicle_Age']`）をワンホットエンコーディングします。
   - ワンホットエンコーディングとは、カテゴリー変数をバイナリ（0と1）の形式に変換する手法です。指定された列の各カテゴリー値ごとに新しいダミー変数（バイナリ列）が作成されます。

2. **カテゴリーの処理**:
   - `df['Vehicle_Age'].astype('category')` で、`Vehicle_Age`列をカテゴリー型に変換してからワンホットエンコーディングを行います。この変換により、Pandasはデータを効率的に処理し、メモリ使用量を削減できます。

3. **新しい列の追加**:
   - 各カテゴリー値（例えば `1-2 Year`, `< 1 Year`, `> 2 Years`など）に対して、それぞれのカテゴリーが存在するかどうかを示す新しいバイナリ列が作成されます。
   - 例えば、`Vehicle_Age`列に `1-2 Year` の値がある場合、`Vehicle_Age_1-2 Year`列が追加され、該当する行には`1`が設定され、それ以外の行には`0`が設定されます。

4. **元のデータフレームへの反映**:
   - `df = pd.get_dummies(df, columns=['Vehicle_Age'])` の結果を新しいデータフレーム `df` に再代入しています。これにより、変換後のデータフレームが上書きされます。

このようにして、カテゴリー変数をワンホットエンコーディングすることで、機械学習モデルへの適用やデータ分析の際にカテゴリー情報を効果的に扱うことができます。

In [145]:
'''
df['Vehicle_Age'] = df['Vehicle_Age'].astype('category')
df = pd.get_dummies(df, columns=['Vehicle_Age'])
df.head()
'''

"\ndf['Vehicle_Age'] = df['Vehicle_Age'].astype('category')\ndf = pd.get_dummies(df, columns=['Vehicle_Age'])\ndf.head()\n"

In [146]:
df['Vehicle_Age'] = df['Vehicle_Age'].astype('category')
df = pd.get_dummies(df, columns=['Vehicle_Age'])

# ダミー変数に変換された列のみを int 型に変換します　これをしないとTrue Falseになる
# ここでは、ダミー変数の列名が 'Vehicle_Age_' で始まると仮定しています
dummy_columns = [col for col in df.columns if 'Vehicle_Age_' in col]
df[dummy_columns] = df[dummy_columns].astype(int)

df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Vehicle_Damages,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years
0,0,Male,21,1,35.0,0,Yes,65101.0,124.0,187,0,1,1,0,0
1,1,Male,43,1,28.0,0,Yes,58911.0,26.0,288,1,1,0,0,1
2,2,Female,25,1,14.0,1,No,38043.0,152.0,254,0,0,0,1,0
3,3,Female,35,1,1.0,0,Yes,2630.0,156.0,76,0,1,1,0,0
4,4,Female,36,1,15.0,1,No,31951.0,152.0,294,0,0,1,0,0

In [147]:
def veh_a(Gender):
  if Gender == 'Male':
    return 1
  else:
    return 0

In [150]:
df['Genders'] = df['Gender'].apply(veh_a)
df.drop(['Gender'],axis=1)
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Vehicle_Damages,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,Genders
0,0,Male,21,1,35.0,0,Yes,65101.0,124.0,187,0,1,1,0,0,1
1,1,Male,43,1,28.0,0,Yes,58911.0,26.0,288,1,1,0,0,1,1
2,2,Female,25,1,14.0,1,No,38043.0,152.0,254,0,0,0,1,0,0
3,3,Female,35,1,1.0,0,Yes,2630.0,156.0,76,0,1,1,0,0,0
4,4,Female,36,1,15.0,1,No,31951.0,152.0,294,0,0,1,0,0,0